<%- include('templates/header')-%> <br />
<!DOCTYPE html>
<html>

<head>
	<div class="p-3 mb-2 bg-info text-dark">(IFM)
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
	<div class="container">
		<br>
		
			<div class="p-5 mb-4 bg-light rounded-3">
				<div>
					<p><img src="../images/<%=berita.gambar %>" style="width:530px;height:360px;" class="rounded mx-auto d-block" alt="<%=berita.judul %>"></p>
					<h1><%=berita.judul %></h1>
				</div><nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
						<a class="navbar-brand" href="#"></a>
						<ul class="nav nav-pills">
						  <li class="nav-item">
							<a class="nav-link" href="#scrollspyHeading1">First</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#scrollspyHeading2">Second</a>
						  </li>
						  <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
							<ul class="dropdown-menu">
							  <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
							  <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
							  <li><hr class="dropdown-divider"></li>
							  <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
							</ul>
						  </li>
						</ul>
					  </nav>
					  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
						<h4 id="scrollspyHeading"><p><%=berita.isi %></p></h4>
						
					  </div>
				</div>
			</p>
					<br>
				<div>
				<div class="d-grid gap-1 col-1">
					<a href="/berita" class="btn bg-warning">Kembali</a>
				</div>
				<form method="POST" action="/comment" class="mt-4">
					<h3>Komentar</h3>
					<div class="mb-3">
					  <input type="hidden" name="idberita" value="<%= berita.id %>">
					  <input type="text" name="nama" class="form-control" id="nama" placeholder="Nama" required />
					</div>
					<div class="mb-3">
						<textarea name="isi" class="form-control" id="isi" placeholder="Isi Komnetar" required></textarea>
					</div>
					<button type="submit" class="btn bg-secondary">Kirim</button>
				</form>
				&emsp;
				<div class="card">
					<div class="card-body">
						<% comment1s.forEach(function(comment){ %>
						<ul class="list-group">
							<li class="list-group-item active" aria-current="true">
								Dari: <%= comment.nama %>
								<p>Berikomentar: <%= comment.isi %></p>
							<form method="POST" action="" class="mt-4">
								<div class="row g-3">
									<div class="col-sm">
										<input type="hidden" name="idberita1" value="<%= berita.id %>">
										<input type="hidden" name="idcomment" value="<%= comment.nama %>">
										<input type="text" name="nama1" class="form-control" id="nama1" placeholder="Nama" aria-label="State" required />
									</div>
									<div class="col-sm-7">
										<input type="text" name="balas" class="form-control" id="balas" placeholder="Isi Balasan" aria-label="City" required />
									</div>
									<div class="col-sm">
										<button type="submit" class="btn btn-dark">Balas</button>
									</div>
								</div>
							</form>
							</li>
							<li class="list-group-item">
								Dari : 
								<p>Membalas :</p>
							</li>
						</ul>&nbsp;
						<% }); %> 
					</div>
				</div>
			</div>
	</div>


</body>

</html>
<%- include('templates/header')-%> <br />
</div>